<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" href="#">Homemade-Bags</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div *ngIf="onHomePage">
        <span class="badge bg-danger rounded-pill cart-count">{{
          cartCount$ | async
        }}</span>
        <a routerLink="/cart">
          <fa-icon
            [icon]="cartIcon"
            [styles]="{ color: 'white', 'margin-right': '50px' }"
            size="lg"
          ></fa-icon>
        </a>
      </div>
      <div *ngIf="onHomePage || onCartPage">
        <fa-icon [icon]="userIcon" [styles]="{ color: 'white' }" size="lg">
        </fa-icon>
        <span class="user">
          {{ userDetails.username }}
        </span>
      </div>
      <div *ngIf="onHomePage || onCartPage">
        <button type="button" class="btn btn-primary" (click)="onLogOut()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
