.cart-count {
  z-index: 1;
  width: 27px;
  position: relative;
  left: 45px;
  bottom: 15px;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.user {
  color: white;
  margin-left: 10px;
}
