<app-navbar></app-navbar>
<div *ngIf="loading" class="spinner-container">
  <div
    class="spinner-border text-primary spinner-center"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-4">
            <h3 class="mb-4 text-center">Sign Up</h3>

            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
              <div class="form-outline mt-4">
                <label class="form-label" for="typeEmailX-2">Username</label>
                <input
                  type="text"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                  formControlName="username"
                  [ngClass]="{
                    'is-invalid':
                      signUpForm.controls['username'].invalid &&
                      (signUpForm.controls['username'].touched ||
                        signUpForm.controls['username'].dirty)
                  }"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  signUpForm.controls['username'].invalid &&
                  (signUpForm.controls['username'].touched ||
                    signUpForm.controls['username'].dirty)
                "
              >
                <div
                  *ngIf="signUpForm.controls['username'].errors?.['required']"
                >
                  Username is required.
                </div>
              </div>
              <div class="form-outline mt-4">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      signUpForm.controls['password'].invalid &&
                      (signUpForm.controls['password'].touched ||
                        signUpForm.controls['password'].dirty)
                  }"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  signUpForm.controls['password'].invalid &&
                  (signUpForm.controls['password'].touched ||
                    signUpForm.controls['password'].dirty)
                "
              >
                <div
                  *ngIf="signUpForm.controls['password'].errors?.['required']"
                >
                  Password is required.
                </div>
                <div
                  *ngIf="signUpForm.controls['password'].errors?.['minlength']"
                >
                  Password should be minimum 8 characters long.
                </div>
              </div>
              <div class="form-outline mt-4">
                <label class="form-label" for="typePasswordX-2"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      signUpForm.controls['confirmPassword'].invalid &&
                      (signUpForm.controls['confirmPassword'].touched ||
                        signUpForm.controls['confirmPassword'].dirty)
                  }"
                />
              </div>
              <div
                class="text-danger"
                *ngIf="
                  signUpForm.controls['confirmPassword'].invalid &&
                  (signUpForm.controls['confirmPassword'].touched ||
                    signUpForm.controls['confirmPassword'].dirty)
                "
              >
                <div
                  *ngIf="signUpForm.controls['confirmPassword'].errors?.['required']"
                >
                  Confirm Password is required.
                </div>
                <div
                  *ngIf="signUpForm.controls['confirmPassword'].errors?.['minlength']"
                >
                  Confirm Password should be minimum 8 characters long.
                </div>
                <div
                  *ngIf="signUpForm.controls['confirmPassword'].errors?.['missMatch']"
                >
                  Password and Confirm Password should be same.
                </div>
              </div>
              <div class="mt-2">
                <p>
                  already have an account? &nbsp;&nbsp;
                  <a routerLink="/login">Login</a>
                </p>
              </div>
              <button
                class="btn btn-primary btn-lg btn-block"
                type="submit"
                [disabled]="signUpForm.invalid"
              >
                SignUp
              </button>
              <div *ngIf="isSignUpSuccessfully" class="mt-2 text-success">
                Registered SuccessFully Please
                <a routerLink="/login" style="text-decoration: none">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
