<app-navbar></app-navbar>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-4">
            <h3 class="mb-4 text-center">Sign Up</h3>

            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Username</label>
                <input
                  type="text"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                  formControlName="username"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  formControlName="password"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX-2"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                  formControlName="confirmPassword"
                />
              </div>
              <div class="mb-2">
                <p>
                  already have an account? &nbsp;&nbsp;
                  <a routerLink="/login">Login</a>
                </p>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                SignUp
              </button>
              <div *ngIf="isSignUpSuccessfully" class="mt-2 text-success">
                Registered SuccessFully Please
                <a routerLink="/login" style="text-decoration: none">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
